# Created by .ignore support plugin (hsz.mobi)
.gradle/4.6/
.gradle/buildOutputCleanup/
.gradle/vcsWorkingDirs/
.idea/caches/
.idea/codeStyles/
.idea/libraries/adapter_rxjava2_2_4_0.xml
.idea/libraries/converter_gson_2_4_0.xml
.idea/libraries/dagger_2_17.xml
.idea/libraries/dagger_android_2_17.xml
.idea/libraries/dagger_android_support_2_17.xml
.idea/libraries/gson_2_8_5.xml
.idea/libraries/logging_interceptor_3_11_0.xml
.idea/libraries/okhttp_3_11_0.xml
.idea/libraries/retrofit_2_4_0.xml
.idea/libraries/rxandroid_2_1_0.xml
.idea/libraries/rxjava_2_2_2.xml
AdvClick.iml
app/libs/
app/src/main/res/drawable/
build/android-profile/profile-2018-10-17-18-13-45-762.rawproto
build/android-profile/profile-2018-10-17-18-16-17-151.rawproto
build/android-profile/profile-2018-10-17-18-16-47-849.rawproto
build/android-profile/profile-2018-10-17-18-18-34-790.rawproto
build/android-profile/profile-2018-10-17-18-19-12-271.rawproto
build/android-profile/profile-2018-10-17-18-53-22-457.rawproto
build/android-profile/profile-2018-10-17-18-54-51-897.rawproto
build/android-profile/profile-2018-10-17-18-59-37-861.rawproto
build/android-profile/profile-2018-10-17-19-00-29-696.rawproto
simpleandroid/libs/
simpleandroid/src/main/res/drawable/
