<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acmes.acmes"
    android:versionCode="20180101"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.acmes.acmes.AcmesApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AcmeApplicationTheme">
        <activity
            android:name="com.acmes.acmes.splash.SplashActivity"
            android:theme="@style/AcmeSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.acmes.acmes.login.AcmesDispatcherActivity" />
        <activity android:name="com.acmes.acmes.login.LoginActivity" />
        <activity
            android:name="com.acmes.acmes.login.RegisterActivity"
            android:parentActivityName=".login.LoginActivity" />
        <activity
            android:name="com.acmes.acmes.main.MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity android:name="com.acmes.acmes.login.LogoutActivity" />
        <activity android:name=".videos.CategoriesActivity" />
        <activity android:name=".videos.CollectionsActivity" />
        <activity android:name=".videos.SearchActivity" />
        <activity android:name=".message.MessageActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".settings.AboutActivity" />
        <activity android:name=".settings.SettingActivity" />
    </application>

</manifest>